annexes/gpf-wfs-describefeaturetype-batiment.xml

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:BDTOPO_V3="http://BDTOPO_V3" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wfs="http://www.opengis.net/wfs/2.0" elementFormDefault="qualified" targetNamespace="http://BDTOPO_V3">
  <xsd:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="https://data.geopf.fr/wfs/schemas/gml/3.2.1/gml.xsd"/>
  <xsd:complexType name="batimentType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="cleabs" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="nature" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="usage_1" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="usage_2" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="construction_legere" nillable="true" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="etat_de_l_objet" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="date_creation" nillable="true" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="date_modification" nillable="true" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="date_d_apparition" nillable="true" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="date_de_confirmation" nillable="true" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="sources" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="identifiants_sources" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="methode_d_acquisition_planimetrique" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="methode_d_acquisition_altimetrique" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="precision_planimetrique" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="precision_altimetrique" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="nombre_de_logements" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="nombre_d_etages" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="materiaux_des_murs" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="materiaux_de_la_toiture" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="hauteur" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="altitude_minimale_sol" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="altitude_minimale_toit" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="altitude_maximale_toit" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="altitude_maximale_sol" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="origine_du_batiment" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="appariement_fichiers_fonciers" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="identifiants_rnb" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="geometrie" nillable="true" type="gml:MultiSurfacePropertyType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="batiment" substitutionGroup="gml:AbstractFeature" type="BDTOPO_V3:batimentType"/>
</xsd:schema>
